.header > h1 {
  font-size: 32px;
  width: 100%;
}
body{
  background-color: #E3DBDA;
  height: 1400px;
}
.links {
  height: 100%;
  width: 20vw;
  display: flex;
}
.header {
  background-color: #1e90ff;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0 2vw;
  width: 100%;
  width: 145vh;
}
.links > a, .links > a:hover {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  font-size: 0.8em;
}
.left{
  display: flex;
  flex-direction: column;
}
.top{
  display: flex;
  flex-direction: column;
}
.bottom{
  display: flex;
  flex-direction: row;
}

.avenjer{
  padding-bottom: 20px;
 display: flex;
 flex-direction:column;
  margin-top: 5pc;
   width: 500px;
   margin-left: 10pc;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgb(99, 97, 97);
  text-align: left;
  border-radius: 2px;
  border: none;
}
.avenjertext{
  margin-left: 15px;
}
.avbutton{
  background-color: dodgerblue;
  margin-left: 22pc;
  border: none;
  border-radius: 4px;
}
.lone{
  width: 300px;
  margin-left: 43pc;
  padding-bottom: 10px;
  position: relative; bottom: 43.5pc;
 background-color: white;
 box-shadow: 1px 1px 1px 1px rgb(99, 97, 97);
 text-align: left;
 border-radius: 2px;
 border: none;
 display: flex;
 flex-direction: column;
}
.lonetext{
  margin-left: 15px;
}
.lonebutton{
  background-color: dodgerblue;
  margin-left: 1pc;
  border: none;
  border-radius: 4px;
  width: 40px;
  
}
.limg{
  margin-left: 10px;
}

.milli{
  width: 300px;
  margin-left:62.5pc;
  padding-bottom: 10px;
  position: relative; bottom: 75.7pc;
 background-color: white;
 box-shadow: 1px 1px 1px 1px rgb(99, 97, 97);
 text-align: left;
 border-radius: 2px;
 border: none;
 display: flex;
 flex-direction: column;
}
.millitext{
  margin-left: 15px;
}
.millibutton{
  background-color: dodgerblue;
  margin-left: 13pc;
  border: none;
  border-radius: 4px;
  width: 40px;
  
}
.mimg{
  margin-left: 10px;
}



.pred{
  width: 300px;
  margin-left:43pc;
  padding-bottom: 10px;
  position: relative; bottom:74pc;
 background-color: white;
 box-shadow: 1px 1px 1px 1px rgb(99, 97, 97);
 text-align: left;
 border-radius: 2px;
 border: none;
 display: flex;
 flex-direction: column;
}
.predtext{
  margin-left: 15px;
}
.predbutton{
  background-color: dodgerblue;
  margin-left: 13pc;
  border: none;
  border-radius: 4px;
  width: 40px;
  
}
.pimg{
  margin-left: 10px;
}
/* Style for list items (optional) */


.rage{
  width: 300px;
  margin-left: 10px;
  padding-bottom: 10px;
  position: relative; bottom: 74pc;
 background-color: white;
 box-shadow: 1px 1px 1px 1px rgb(99, 97, 97);
 text-align: left;
 border-radius: 2px;
 border: none;
 display: flex;
 flex-direction: column;
}
.ragetext{
  margin-left: 15px;
}
.ragebutton{
  background-color: dodgerblue;
  margin-left: 13pc;
  border: none;
  border-radius: 4px;
  width: 40px;
  
}
.rimg{
  margin-left: 10px;
}



@media screen and (min-width: 801px) and (max-width: 1024px) {
  .header {
    flex-direction: row;
    align-items: center;
}
.right{
    display: flex;
    flex-direction: column;
}
.header{
  width: 150%;
}

.links {
    display: none;
}
.bottom{
  display: flex;
  flex-direction: column;
}
.top{
  display: flex;
  flex-direction: column;
}


.avenjer{
  width: 60%;
  margin-left: 0%;
}
.lone,
.milli,
.pred,
.rage {
    width: 40%;
    margin-left: 38pc;
    position: static;
    bottom: auto;
    position: relative; bottom: 47pc;
}

.avenjer img,
.lone img,
.milli img,
.pred img,
.rage img {
    width: 100%;
    height: auto;
}

.avbutton,
.lonebutton,
.millibutton,
.predbutton,
.ragebutton {
    margin-left: 0;
}
}




@media (min-width: 481px) and (max-width: 800px) {
  .header {
      flex-direction: row;
      align-items: center;
  }
  .right{
      display: flex;
      flex-direction: row;
  }
  .header{
    width: 100%;
  }

  .links {
      display: none;
  }
  .bottom{
    display: flex;
    flex-direction: row;
  }
  .top{
    display: flex;
    flex-direction: row;
  }
  

  .avenjer,
  .lone,
  .milli,
  .pred,
  .rage {
      width: 100%;
      margin-left: 0;
      position: static;
      bottom: auto;
  }

  .avenjer img,
  .lone img,
  .milli img,
  .pred img,
  .rage img {
      width: 100%;
      height: auto;
  }

  .avbutton,
  .lonebutton,
  .millibutton,
  .predbutton,
  .ragebutton {
      margin-left: 0;
  }
}
@media  (max-width: 480px) {
  .header {
      flex-direction: row;
      align-items: center;
  }
  .right{
      display: flex;
      flex-direction: column;
  }
  .header{
    width: 100%;
  }

  .links {
      display: none;
  }
  .bottom{
    display: flex;
    flex-direction: column;
  }
  .top{
    display: flex;
    flex-direction: column;
  }
  

  .avenjer,
  .lone,
  .milli,
  .pred,
  .rage {
      width: 100%;
      margin-left: 0;
      position: static;
      bottom: auto;
  }

  .avenjer img,
  .lone img,
  .milli img,
  .pred img,
  .rage img {
      width: 100%;
      height: auto;
  }

  .avbutton,
  .lonebutton,
  .millibutton,
  .predbutton,
  .ragebutton {
      margin-left: 0;
  }
}
